@import "tailwindcss";

@font-face {
  font-family: 'CustomFont';
  src: url('https://files.catbox.moe/n7b6g3.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-sans: "CustomFont", ui-sans-serif, system-ui, sans-serif;
}

.gradient-text {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-border {
  border-image-slice: 1;
}
